@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-green-50;
  }
  
  select {
    background-color: white;
  }
  
  select option {
    background-color: white;
    color: #1f2937;
  }
  
  select:focus option:checked {
    background-color: #f3f4f6;
    color: #1f2937;
  }
  
  select option:hover {
    background-color: #f3f4f6;
  }
}
